
.input-group button {
    border: 1px solid #ced4da;
    border-left: none; /* Hilangkan border kiri */
    background-color: #fff;
}

.input-group button:hover {
    background-color: #f8f9fa;
}

.input-group button i {
    font-size: 1.2rem;
}


